* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(to top left, #28b487, #7dd56f);
}

.show-modal {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

.headingContainer {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;

    font-size: 3rem;
}
.buttons {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    font-size: 2.1rem;
    color: black;
    opacity: 0.8;
}
