:root {
    --containerColor: rgb(42, 47, 74);
    --stripeColor: rgb(168, 245, 255);
    --titleColor: white;
    --xSymbol: "✖";
    --oSymbol: "O";
    --xColor: rgb(185, 148, 224);
    --oColor: rgb(242, 126, 130);
    --winColor: yellow;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body html {
    min-height: 100%;
}

body {
    color: white;
    display: flex;
    font-family: sans-serif;
    justify-content: center;

    background-image: url(Images/XdZGlu.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: var(--containerColor);

    margin: 50px;
    padding: 50px;

    /* width: 500px;
    height: 600px;

     */
    border-radius: 5%;
}

.title {
    text-align: center;
    color: var(--titleColor);
    font-size: 2rem;
}

.status-action {
    display: flex;
    margin-top: 1rem;
    font-size: 1.3rem;

    justify-content: space-around;
}

.restartButton {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 30%;
    background-color: green;

    color: white;
    border-color: black;
    font-size: 1.3rem;

    transition: 200ms transform;
}

.restartButton:hover {
    content: pointer;

    background-color: yellow;
    color: black;
    transform: translateY(-0.2rem);
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 0.4rem;

    margin-top: 3rem;

    background: var(--stripeColor);
}

.game-cell {
    height: 200px;
    width: 200px;

    background: var(--containerColor);

    cursor: pointer;

    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.X::after {
    content: var(--xSymbol);
    color: var(--xColor);
}

.O::after {
    content: var(--oSymbol);
    color: var(--oColor);
}

.won::after {
    color: var(--winColor);
}

@media only screen and (max-width: 1024px) {
    .gameBoard {
        margin-top: 1rem;

        grid-gap: 0.1rem;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .game-cell {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 50px;
        padding: 50px;

        /* color: red; */
    }
    .gameBoard {
        margin-top: 1rem;

        grid-gap: 0.1rem;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .game-cell {
        font-size: 5rem;
    }
}
