:root {
    --containerColor: rgb(42, 47, 74);

    /* --containerColor: rgb(179, 34, 92); */

    --stripeColor: rgb(168, 245, 255);
    --titleColor: white;
    --xSymbol: "✖";
    --oSymbol: "O";
    --xColor: rgb(185, 148, 224);
    --oColor: rgb(242, 126, 130);
    --winColor: yellow;

    --hoverGameCellColor: white;
    --gameCellFontSize: 10rem;
    --hoverGameCellFontSize: 8rem;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body html {
    min-height: 100%;
}

body {
    color: white;
    display: flex;
    font-family: sans-serif;
    justify-content: center;

    background: linear-gradient(to top left, #28b487, #7dd56f);
    background-image: url(Images/XdZGlu.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.container {
    background-color: var(--containerColor);

    margin: 50px;
    padding: 50px;

    /* width: 500px;
    height: 600px;

     */
    border-radius: 5%;
}

.title {
    text-align: center;
    color: var(--titleColor);
    font-size: 2rem;
}

.status-action {
    display: flex;
    margin-top: 1rem;
    font-size: 1.3rem;

    justify-content: space-around;
}

/* CSS */
.button-29 {
    align-items: center;
    appearance: none;
    /* background-image: radial-gradient(
        100% 100% at 100% 0,
        #5adaff 0,
        #5468ff 100%
    ); */
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
        rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
        rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.restartButton {
    cursor: pointer;
    background-color: blue;
    color: white;
    border-color: black;
    font-size: 1.3rem;

    transition: 200ms transform;
}

.restartButton:hover {
    content: pointer;

    background-color: yellow;
    color: black;
    transform: translateY(-0.2rem);
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-gap: 0.4rem;

    margin-top: 3rem;

    background: var(--stripeColor);
}

.game-cell {
    height: 200px;
    width: 200px;

    background: var(--containerColor);

    cursor: pointer;

    font-size: var(--gameCellFontSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hoverX::after {
    content: var(--xSymbol);
    opacity: 0.4;
    color: var(--hoverGameCellColor);
    font-size: var(--hoverGameCellFontSize);
}

.hoverO::after {
    content: var(--oSymbol);
    opacity: 0.4;
    color: var(--hoverGameCellColor);
    font-size: var(--hoverGameCellFontSize);
}

.X::after {
    content: var(--xSymbol);
    color: var(--xColor);
}

.O::after {
    content: var(--oSymbol);
    color: var(--oColor);
}

.won::after {
    color: var(--winColor);
}

@media only screen and (max-width: 1024px) {
    .gameBoard {
        margin-top: 1rem;

        grid-gap: 0.1rem;
    }

    .game-cell {
        height: 150px;
        width: 150px;
    }

    .game-cell {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 540px) {
    .container {
        margin: 50px;
        padding: 50px;

        /* color: red; */
    }
    .gameBoard {
        margin-top: 1rem;

        grid-gap: 0.1rem;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .game-cell {
        font-size: 5rem;
    }
}

/* Endgame modal window */

.endgame-container {
    color: white;

    /* background-color: green; */

    margin: 50px;
    padding: 50px;

    width: 500px;
    height: 600px;

    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.endgame-message {
    text-align: center;
    color: white;
    font-size: 7rem;
}

.modal {
    /* position: absolute; */
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;

    background-color: green;
    opacity: 0.7;

    padding: 6rem;
    border-radius: 10%;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;

    border: 0.7rem solid white;

    /* background-image: url(Images/XdZGlu.webp); */
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
}
